.loaderContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  background: rgba(209, 212, 216, 0.75);
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
    border: 8px solid rgba(199, 127, 127, 0.79); 
    border-top: 8px solid rgba(199, 127, 127, 0.32); 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
    margin: auto; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }